body {
  background: CadetBlue;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: Gray;
  text-align: center;
}
.assignment{
  background-color: darkgray;
  margin: 10px;
  padding: 10px;
}
.assignment img{
  width: 200px;
  padding: 10px;
}
  


