body {
  background: DarkBlue;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: LightGray;
  text-align: center;
}
.assignment {
  background-color: LightGray;
  margin: 10px;
  padding: 10px;
}
.assignment img{
  width: 400px;
  padding: 10px;
}
  


