body {
  background: LimeGreen;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: RoyalBlue;
  text-align: center;
}
.assignment {
  background-color: Red;
  margin: 10px;
  padding: 10px;
}
.assignment img{
  width: 200px;
  padding: 10px;
}
  


